<!DOCTYPE>
<html>
<head>
	<title> StackOverflow-Lite </title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/contact.css">
</head>
<body>

		<div id="content">
			
		<header>
			<ul>
				<span id="he_ader">
				<li id="hea_der"><a href="index.html"> STACKOVERFLOW-LITE </a></li>
				<li> 
					<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search..." title="search">
					<input type="submit">
				</li>
				</span>
				<span id="head_er">
				<li title="Home"> <a  id="home" href="index.html"> Home </a>  </li>
				<li title="About"> <a  id="about" href="about.html"> About </a>  </li>
	            <li title="Contact"> <a id="contact" href="contact.html"> Contact </a>  </li>  
	            <li title="SignUp"> <a  id="sign" href="signup.html"> SignUp </a>  </li>
	            <li title="LogIn"> <a id="log" href="login.html"> LogIn </a>  </li>   
	            </span>   
        	</ul>
		</header>

		<section>
			
		</section>

		<aside>
			
		</aside>

		<footer>
				<a href="http://www.andela.com"> &copy;Copyright Andela.com </a>
		</footer>


		</div>

</body>
</html>