<!DOCTYPE>
<html>
<head>
	<title> LogIn - StackOverflow-Lite </title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/login.css">
</head>
<body>

		<div id="content">
			
		<header>
			<ul>
				<span id="he_ader">
				<li id="hea_der"><a href="index.html"> STACKOVERFLOW-LITE </a></li>
				<li> 
					<input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search..." title="search">
					<input type="submit">
				</li>
				</span>
				<span id="head_er">
				<li title="Home"> <a  id="home" href="index.html"> Home </a>  </li>
				<li title="About"> <a  id="about" href="about.html"> About </a>  </li>
	            <li title="Contact"> <a id="contact" href="contact.html"> Contact </a>  </li>  
	            <li title="SignUp"> <a  id="sign" href="signup.html"> SignUp </a>  </li>
	            <li title="LogIn"> <a id="log" href="login.html"> LogIn </a>  </li>   
	            </span>   
        	</ul>
		</header>

		<section>

			<form action="" method="POST">

			<h2> LogIn </h2>

				<div>
              		<label for="username">username:</label><br>
              		<input type="text" name="username" id="username" required="username" placeholder="username"><br><br>
           		</div>

            	<div>
              	<label for="password">password:</label><br>
              	<input type="password" name="password" id="password" required="password" placeholder="password"><br><br>
            	</div><br><br>

          		<input type="submit" name="login" value="submit">

			</form>

		</section>

		<footer>
				<a href="http://www.andela.com"> &copy; Andela.com </a>
		</footer>


		</div>

</body>
</html>