body {
		background-image: url("../images/.jpg");
		color: #fff;
		font-family: 'Nunito Semibold';
		text-align: center;
		}
		
#content {
			display: grid;
			grid-template-column: repeat(6, 1fr);
			grid-auto-rows: 75px;
			max-width: none;
			margin: 0 auto;
			grid-template-areas:
			"header header header header header header"
			"aside section section section section section"
			"aside section section section section section"
			"aside section section section section section"
			"aside section section section section section"
			"aside section section section section section"
			"aside section section section section section"
			"footer footer footer footer footer footer"
			;
			
		}

#content header {
				background: #008aff;
				padding: 30px;
				opacity: ;
}
#content section {
				background: ;
				padding: 30px;
				opacity: ;
}
#content aside {
				background: ;
				padding: 30px;
				opacity: ;
}

#content footer {
				background: ;
				padding: 30px;
				opacity: ;
}


header {
	grid-area: header;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	list-style-type: none;
	display: inline;
}
header ul #hea_der {
	display: inline;
	list-style-type: none;
}
header ul #head_er {
	float: right;
	list-style-type: none;
}
header ul li a {
	text-decoration: none;
	word-spacing: 10px;
}
header ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
#hea_der {
	float: left;
	margin-top: -10px;
	margin-left: 100px;
	font-size: 30px;
}
#hea_der a {
	color: white;
}

section {
	grid-area: section;
}


footer {
	grid-area: footer;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	background: #00a37a
}


button {
	padding: 10px;
    width: 20%;
    float: right;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
button:hover {
	background: #00a37a;
}


#home {
	padding: 10px;
}
#home:hover {
	background: #00a37a;
	border-radius: 10px;
	padding: 20px;
}


#log {
	padding: 10px;
}
#log:hover {
	background: #00a37a;
	padding: 20px;
	border-radius: 10px;
}

#about {
	padding: 10px;
}
#about:hover {
	background: #00a37a;
	padding: 20px;
	border-radius: 10px;
}

#contact {
	background: salmon;
	border-radius: 10px;
	padding: 10px;
}
#contact:hover {
	background: #00a37a;
	padding: 20px;
	border-radius: 10px;
}

#sign {
	padding: 10px;
}
#sign:hover {
	background: #00a37a;
	padding: 20px;
	border-radius: 10px;
}