body {
		background-image: url("images/grin.jpg");
		color: #fff;
		font-family: 'Nunito Semibold';
		text-align: center;
		}
		
#content {
			display: grid;
			grid-template-column: repeat(6, 1fr);
			grid-auto-rows: minmax(100px, auto);
			max-width: none;
			margin: 0 auto;
			grid-template-areas:
			"header header header header header header"
			"section section section section aside aside"
			"section section section section aside aside"
			"section section section section aside aside"
			"section section section section aside aside"
			"section section section section aside aside"
			"section section section section aside aside"
			"footer footer footer footer footer footer"
			;
			
		}

#content header {
				background: #008aff;
				padding: 30px;
				opacity: ;
}
#content section {
				background: ;
				padding: 30px;
				opacity: ;
}
#content nav {
				background: indigo;
				padding: 30px;
				opacity: ;
}
#content footer {
				background: grey;
				padding: 30px;
				opacity: ;
}
#content aside {
				background: ;
				padding: 30px;
				opacity: ;
}


header {
	grid-area: header;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	list-style-type: none;
	display: inline;
}
header ul #hea_der {
	display: inline;
	list-style-type: none;
}
header ul #head_er {
	float: right;
	list-style-type: none;
}
header ul li a {
	text-decoration: none;
	word-spacing: 10px;
}
header ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
#hea_der {
	float: left;
	margin-top: -10px;
	margin-left: 100px;
	font-size: 30px;
}
#hea_der a {
	color: white;
}

section {
	grid-area: section;
}
footer {
	grid-area: footer;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	background: ;
}
aside {
	grid-area: aside;
	color: black;
}
button:hover {
	background: #00a37a;
}


#home {
	background: ;
	border-radius: 10px;
	padding: 10px;
	color: white;
}
#home:hover {
	background: ;
	border-radius: ;
	padding: ;
	text-decoration: underline;
}


#log {
	padding: 10px;
	color: white;
}
#log:hover {
	background: ;
	padding: ;
	border-radius: ;
	text-decoration: underline;
}

#about {
	padding: 10px;
	color: white;
	color: white;
}
#about:hover {
	background: ;
	padding: ;
	border-radius: ;
	text-decoration: underline;
}

#contact {
	padding: 10px;
	color: white;
}
#contact:hover {
	background: ;
	padding: ;
	border-radius: ;
	text-decoration: underline;
}

#profile {
	padding: 10px;
	color: white;
}
#profile:hover {
	background: ;
	padding: ;
	border-radius: ;
	text-decoration: underline;
}

#question {
	color: #000;
	border: red;
}
#question ul li {
	list-style-type: none;
}
#recent {
	color: black;
}
#recent ul li {
	display: inline;
}
#recentSpan {
	font-size: 30px;
	float: left;
}
#sub {
	padding: 10px;
    width: 30%;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
#who {
	float: inherit;
}
#postedBy a {
	text-decoration: none;
}
#let {
	color: #008aff;
}
#view {
	color: #008aff;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#extra ul li {
	display: inline;
	padding: 10px;
}
#extra ul li a{
	display: inline;
	text-decoration: none;
}
#border {
	border-bottom: #333 1px solid;
}
#topic {
	font-size: 20px;
	text-decoration: none;
	float: left;
}
p {
	text-align: left;
}
#info {
	float: center;
}
#strong {
	color: #000;
}
#submit {
	padding: 10px;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
#submit:hover {
	background: #00a37a;
}
#poster ul li {
	list-style-type: none;
	display: inline;
}
#postedBy {
	color: blue;
}
#topQ ul li {
	list-style-type: none;
	margin-left: 0 auto;
	
}